/* Header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.header__logo--Link {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.header__logo:hover {
  cursor: pointer
}

.header__button {
  border: 0;
  background-color: white;
  padding: 20px;
  transition: color 0.2s ease-in-out;
}



.header__button:hover {
  cursor: pointer;
  color: gray;
}



/* Overall Products Container Styling  */
.content {
  margin: auto;
  width: 70%;
}

.products__container {
  padding-top: 40px;
  height: 100%;
  /* margin: auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 400px;
  grid-gap: 30px;
  justify-content: center;
}

.products__filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product__search {
  height: 30px;
  margin-right: 10px;
}

.product__dropdownLabel {
  margin-right: 5px;
}

.product__dropdown {
  height: 35px;
}

/* Card Styles */
.product__card {
  width: 300px;
  height: 400px;
}

.product__card:hover .product__image{
  transform: scale(1.05);   
}

.product__image {
  width: 300px;
  height: 300px;
  object-fit: contain;
  transition: 0.5s all ease-in-out;
}

.product__title {
  margin-top: 5px;
  font-size: 15px;
}

.product__price {
  margin-top: -10px;
  font-size: 15px;
}

@media(max-width: 520px ) {
  .header__logo--Link {
    margin-right: -15px;
  }
  .header__logo h1{
    font-size: 20px; 
  }
  .header__button {
    font-size: 10px; 
    padding: 0;
  }
}

@media(max-width: 615px ) {
  .header__button {
    padding: 1em;
  }
}

@media(max-width: 720px ) {
  .products__filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .product__search {
    height: 20px;
    margin-right: 5px;
  }
  
  .product__dropdownLabel {
    margin-right: 3px;
    display: none;
  }
  
  .product__dropdown {
    height: 26px;
  }
}